<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>learn</key>
	<dict>
		<key>category</key>
		<integer>3</integer>
		<key>id_story</key>
		<integer>110</integer>
		<key>intro</key>
		<string>You have learned:</string>
		<key>id</key>
		<integer>1</integer>
		<key>text_info</key>
		<array>
			<dict>
				<key>text</key>
				<string>The sounds of animals such as cow, pig, horse, sheep, dog and duck.</string>
				<key>audio_path</key>
				<string>sound/qa/soundtest.mp3</string>
			</dict>
		</array>
		<key>path_audio</key>
		<string>sound/qa/soundtest.mp3</string>
	</dict>
</dict>
</plist>
