<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content_info</key>
	<dict>
		<key>character</key>
		<string>b</string>
		<key>character_audio_path</key>
		<string>word_train/b.mp3</string>
		<key>list_items</key>
		<array>
			<dict>
				<key>text</key>
				<string>ball</string>
				<key>audio_path</key>
				<string>word_train/ball.mp3</string>
				<key>img_path</key>
				<string>word_train/ball.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string>bat</string>
				<key>audio_path</key>
				<string>word_train/bat.mp3</string>
				<key>img_path</key>
				<string>word_train/bat.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string>balloon</string>
				<key>audio_path</key>
				<string>word_train/balloon.mp3</string>
				<key>img_path</key>
				<string>word_train/balloon.jpg</string>
			</dict>
			<dict>
				<key>text</key>
				<string>bucket</string>
				<key>audio_path</key>
				<string>word_train/bucket.mp3</string>
				<key>img_path</key>
				<string>word_train/bucket.jpg</string>
			</dict>
		</array>
		<key>list_distracting</key>
		<array>
			<dict>
				<key>text</key>
				<string>c</string>
				<key>audio_path</key>
				<string>word_train/c.mp3</string>
			</dict>
			<dict>
				<key>text</key>
				<string>p</string>
				<key>audio_path</key>
				<string>word_train/p.mp3</string>
			</dict>
			<dict>
				<key>text</key>
				<string>d</string>
				<key>audio_path</key>
				<string>word_train/d.mp3</string>
			</dict>
			<dict>
				<key>text</key>
				<string>f</string>
				<key>audio_path</key>
				<string>word_train/f.mp3</string>
			</dict>
			<dict>
				<key>text</key>
				<string>s</string>
				<key>audio_path</key>
				<string>word_train/s.mp3</string>
			</dict>
		</array>
	</dict>
	<key>game_info</key>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>title</key>
		<string>Monkey Phonics</string>
		<key>intro</key>
		<string>Drag the text to match the pictures.</string>
		<key>audio_intro</key>
		<string></string>
		<key>audio_title</key>
		<string></string>
	</dict>
</dict>
</plist>
