<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content_info</key>
	<dict>
		<key>list_distracting</key>
		<array/>
		<key>list_items</key>
		<array>
			<dict>
				<key>text</key>
				<string>draw</string>
				<key>audio_path</key>
				<string>typing/typing_draw.mp3</string>
				<key>gaf_path</key>
				<string>typing/draw/draw.gaf</string>
				<key>img_path</key>
				<string>typing/draw/abc.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string>push</string>
				<key>audio_path</key>
				<string>phonics/push.mp3</string>
				<key>gaf_path</key>
				<string>typing/draw/draw.gaf</string>
				<key>img_path</key>
				<string>typing/draw/abc.png</string>
			</dict>
			<dict>
				<key>text</key>
				<string>pull</string>
				<key>audio_path</key>
				<string>phonics/pull.mp3</string>
				<key>gaf_path</key>
				<string></string>
				<key>img_path</key>
				<string>typing/draw/abc.png</string>
			</dict>
		</array>
	</dict>
	<key>game_info</key>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>title</key>
		<string>Monkey Phonics</string>
		<key>intro</key>
		<string>Drag the text to match the pictures.</string>
		<key>audio_intro</key>
		<string></string>
		<key>audio_title</key>
		<string></string>
	</dict>
</dict>
</plist>
