<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<array>
		<dict>
			<key>path</key>
			<string>gaf/154_10135/glassbottle_trang1_trai/glassbottle_trang1_trai.gaf</string>
			<key>type</key>
			<string>animation</string>
			<key>animation_reset</key>
			<true/>
			<key>z_order</key>
			<integer>11</integer>
			<key>position</key>
			<string>{337,380}</string>
			<key>contentsize</key>
			<string>{275,500}</string>
			<key>touchable</key>
			<true/>
			<key>animation_type</key>
			<string>end</string>
			<key>animation_order</key>
			<integer>1</integer>
			<key>star_order</key>
			<integer>7</integer>
			<key>effect</key>
			<string>sound/e/bdcab8615ae0421fa21801efe8e3b99e.mp3</string>
			<key>audio</key>
			<dict>
				<key>path</key>
				<string>audio/t/6a834bf72280fb73667a72a04d11d999.mp3</string>
				<key>text</key>
				<string>Charlie&apos;s classmate</string>
				<key>duration</key>
				<real>1.515</real>
				<key>w_text</key>
				<real>200</real>
			</dict>
			<key>touch</key>
			<array>
				<dict>
					<key>boundingbox</key>
					<string>{{139,43},{44,104}}</string>
					<key>star_position</key>
					<string>{285,245}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{82,33},{36,111}}</string>
					<key>star_position</key>
					<string>{20,20}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{87,145},{95,176}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{74,324},{156,158}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{174,236},{47,48}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{46,234},{41,55}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
			</array>
			<key>sequence</key>
			<array>
				<dict>
					<key>name</key>
					<string>name1</string>
					<key>start</key>
					<integer>200</integer>
					<key>end</key>
					<real>1000</real>
					<key>loop</key>
					<false/>
					<key>effect</key>
					<string>sound/e/1242dbaa2227580a8c987268872563c2.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>gaf/154_10136/glassbottle_trang1_gai4/glassbottle_trang1_gai4.gaf</string>
			<key>type</key>
			<string>animation</string>
			<key>animation_reset</key>
			<true/>
			<key>z_order</key>
			<integer>12</integer>
			<key>position</key>
			<string>{1094,383}</string>
			<key>contentsize</key>
			<string>{275,500}</string>
			<key>touchable</key>
			<true/>
			<key>animation_type</key>
			<string>begin</string>
			<key>animation_order</key>
			<integer>2</integer>
			<key>star_order</key>
			<integer>2</integer>
			<key>effect</key>
			<string>sound/e/5deb34315fca13af9983946b6fabdaa3.mp3</string>
			<key>audio</key>
			<dict>
				<key>path</key>
				<string>audio/t/6a834bf72280fb73667a72a04d11d999.mp3</string>
				<key>text</key>
				<string>Charlie&apos;s classmate</string>
				<key>duration</key>
				<real>1.515</real>
				<key>w_text</key>
				<real>200</real>
			</dict>
			<key>touch</key>
			<array>
				<dict>
					<key>boundingbox</key>
					<string>{{96,116},{101,363}}</string>
					<key>star_position</key>
					<string>{-2885,1345}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{76,116},{175,97}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{35,270},{65,44}}</string>
					<key>star_position</key>
					<string>{205,293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{122,16},{66,105}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{84,317},{137,120}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
			</array>
			<key>sequence</key>
			<array>
				<dict>
					<key>name</key>
					<string>action</string>
					<key>start</key>
					<integer>0</integer>
					<key>end</key>
					<integer>5000</integer>
					<key>loop</key>
					<false/>
					<key>effect</key>
					<string>sound/e/1242dbaa2227580a8c987268872563c2.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>gaf/154_10137/glassbottle_trang1_song/glassbottle_trang1_song.gaf</string>
			<key>type</key>
			<string>animation</string>
			<key>animation_reset</key>
			<false/>
			<key>z_order</key>
			<integer>13</integer>
			<key>position</key>
			<string>{703,-39}</string>
			<key>contentsize</key>
			<string>{1700,500}</string>
			<key>touchable</key>
			<false/>
			<key>animation_type</key>
			<string>end</string>
			<key>animation_order</key>
			<integer>0</integer>
			<key>star_order</key>
			<integer>0</integer>
			<key>effect</key>
			<string>sound/e/e21296b38aa1ece8fb11848f4802f1f1.mp3</string>
			<key>audio</key>
			<dict>
				<key>path</key>
				<string>audio/t/6a834bf72280fb73667a72a04d11d999.mp3</string>
				<key>text</key>
				<string>Charlie&apos;s classmate</string>
				<key>duration</key>
				<real>1.515</real>
				<key>w_text</key>
				<real>200</real>
			</dict>
			<key>touch</key>
			<array>
				<dict>
					<key>boundingbox</key>
					<string>{{96,116},{101,363}}</string>
					<key>star_position</key>
					<string>{-2885,1345}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{76,116},{175,97}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{35,270},{65,44}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{122,16},{66,105}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{84,317},{137,120}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
			</array>
			<key>sequence</key>
			<array>
				<dict>
					<key>name</key>
					<string>name1</string>
					<key>start</key>
					<integer>200</integer>
					<key>end</key>
					<real>1000</real>
					<key>loop</key>
					<false/>
					<key>effect</key>
					<string>sound/e/1242dbaa2227580a8c987268872563c2.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>gaf/154_10138/glassbottle_trang1_gai1/glassbottle_trang1_gai1.gaf</string>
			<key>type</key>
			<string>animation</string>
			<key>z_order</key>
			<integer>14</integer>
			<key>position</key>
			<string>{489,384}</string>
			<key>animation_reset</key>
			<true/>
			<key>contentsize</key>
			<string>{275,500}</string>
			<key>touchable</key>
			<true/>
			<key>animation_type</key>
			<string>end</string>
			<key>animation_order</key>
			<integer>2</integer>
			<key>star_order</key>
			<integer>1</integer>
			<key>effect</key>
			<string>sound/e/c6c1c15f9ca8b660f2c9a1ac6c4f296b.mp3</string>
			<key>audio</key>
			<dict>
				<key>path</key>
				<string>audio/t/6a834bf72280fb73667a72a04d11d999.mp3</string>
				<key>text</key>
				<string>Charlie&apos;s classmate</string>
				<key>duration</key>
				<real>1.515</real>
				<key>w_text</key>
				<real>200</real>
			</dict>
			<key>touch</key>
			<array>
				<dict>
					<key>boundingbox</key>
					<string>{{57,306},{145,165}}</string>
					<key>star_position</key>
					<string>{85,134}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{32,98},{209,105}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{74,161},{131,84}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{100,25},{75,280}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
			</array>
			<key>sequence</key>
			<array>
				<dict>
					<key>name</key>
					<string>name1</string>
					<key>start</key>
					<integer>200</integer>
					<key>end</key>
					<real>1000</real>
					<key>loop</key>
					<false/>
					<key>effect</key>
					<string>sound/e/1242dbaa2227580a8c987268872563c2.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>gaf/154_10139/glassbottle_trang1_gai3/glassbottle_trang1_gai3.gaf</string>
			<key>type</key>
			<string>animation</string>
			<key>animation_reset</key>
			<true/>
			<key>z_order</key>
			<integer>15</integer>
			<key>position</key>
			<string>{783,440}</string>
			<key>contentsize</key>
			<string>{1000,1000}</string>
			<key>touchable</key>
			<true/>
			<key>animation_type</key>
			<string>end</string>
			<key>animation_order</key>
			<integer>0</integer>
			<key>star_order</key>
			<integer>5</integer>
			<key>effect</key>
			<string>sound/e/1cac6b76effe6c72e2a42dbb8f0cc386.mp3</string>
			<key>audio</key>
			<dict>
				<key>path</key>
				<string>audio/t/6a834bf72280fb73667a72a04d11d999.mp3</string>
				<key>text</key>
				<string>Charlie&apos;s classmate</string>
				<key>duration</key>
				<real>1.515</real>
				<key>w_text</key>
				<real>200</real>
			</dict>
			<key>touch</key>
			<array>
				<dict>
					<key>boundingbox</key>
					<string>{{604,221},{83,316}}</string>
					<key>star_position</key>
					<string>{655,570}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{568,344},{176,113}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{683,466},{73,80}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{603,537},{145,140}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
			</array>
			<key>sequence</key>
			<array>
				<dict>
					<key>name</key>
					<string>name1</string>
					<key>start</key>
					<integer>200</integer>
					<key>end</key>
					<real>1000</real>
					<key>loop</key>
					<false/>
					<key>effect</key>
					<string>sound/e/1242dbaa2227580a8c987268872563c2.mp3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>gaf/154_10140/glassbottle_trang1_gai2/glassbottle_trang1_gai2.gaf</string>
			<key>type</key>
			<string>animation</string>
			<key>animation_reset</key>
			<true/>
			<key>z_order</key>
			<integer>16</integer>
			<key>position</key>
			<string>{635,390}</string>
			<key>contentsize</key>
			<string>{275,500}</string>
			<key>touchable</key>
			<true/>
			<key>animation_type</key>
			<string>end</string>
			<key>animation_order</key>
			<integer>4</integer>
			<key>sequence</key>
			<array>
				<dict>
					<key>name</key>
					<string>name1</string>
					<key>start</key>
					<integer>200</integer>
					<key>end</key>
					<real>1000</real>
					<key>loop</key>
					<false/>
					<key>effect</key>
					<string>sound/e/1242dbaa2227580a8c987268872563c2.mp3</string>
				</dict>
			</array>
			<key>star_order</key>
			<integer>1</integer>
			<key>effect</key>
			<string>sound/e/1242dbaa2227580a8c987268872563c2.mp3</string>
			<key>audio</key>
			<dict>
				<key>path</key>
				<string>audio/d/54f26cb11e22415859334530de72a288.mp3</string>
				<key>text</key>
				<string>Charlie</string>
				<key>duration</key>
				<real>0.705</real>
				<key>w_text</key>
				<real>200</real>
			</dict>
			<key>touch</key>
			<array>
				<dict>
					<key>boundingbox</key>
					<string>{{72,249},{164,176}}</string>
					<key>star_position</key>
					<string>{157,336}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{16,123},{209,111}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{67,113},{128,141}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{87,425},{105,45}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{39,279},{35,119}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
				<dict>
					<key>boundingbox</key>
					<string>{{86,21},{89,95}}</string>
					<key>star_position</key>
					<string>{-2905,1293}</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>page_number</key>
	<real>0</real>
	<key>normal_color</key>
	<string>{{0,0},{0,0}}</string>
	<key>highlight_color</key>
	<string>{{255,0},{0,0}}</string>
	<key>box_type</key>
	<string>box_type_1</string>
	<key>fontsize</key>
	<integer>40</integer>
	<key>bg_img</key>
	<dict>
		<key>position</key>
		<string>{512,384}</string>
		<key>path</key>
		<string>background/o/1de976743a7c6fac1386adbad4dba8bd_trong.jpg</string>
	</dict>
	<key>text</key>
	<array>
		<dict>
			<key>text</key>
			<string>Last week, Charlie&apos;s class went camping at the beach.</string>
			<key>boundingbox</key>
			<string>{{62,624}, {903,138}}</string>
			<key>start</key>
			<integer>0</integer>
			<key>end</key>
			<integer>0</integer>
			<key>fontsize</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>They played by the campfire in the evening.</string>
			<key>boundingbox</key>
			<string>{{62,624}, {503,138}}</string>
			<key>start</key>
			<integer>0</integer>
			<key>end</key>
			<integer>0</integer>
			<key>fontsize</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>audio</key>
	<array>
		<dict>
			<key>path</key>
			<string>audio/x/0a61da9129732eead736a409e1f87e63.mp3</string>
			<key>start</key>
			<integer>0</integer>
			<key>sync</key>
			<array>
				<dict>
					<key>w</key>
					<string>Last</string>
					<key>ts</key>
					<integer>0</integer>
					<key>te</key>
					<integer>3</integer>
					<key>s</key>
					<integer>0</integer>
					<key>e</key>
					<integer>380</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>week,</string>
					<key>ts</key>
					<integer>5</integer>
					<key>te</key>
					<integer>9</integer>
					<key>s</key>
					<integer>380</integer>
					<key>e</key>
					<integer>1120</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>Charlie&apos;s</string>
					<key>ts</key>
					<integer>11</integer>
					<key>te</key>
					<integer>19</integer>
					<key>s</key>
					<integer>1120</integer>
					<key>e</key>
					<integer>1870</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>class</string>
					<key>ts</key>
					<integer>21</integer>
					<key>te</key>
					<integer>25</integer>
					<key>s</key>
					<integer>1870</integer>
					<key>e</key>
					<integer>2310</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>went</string>
					<key>ts</key>
					<integer>27</integer>
					<key>te</key>
					<integer>30</integer>
					<key>s</key>
					<integer>2310</integer>
					<key>e</key>
					<integer>2540</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>camping</string>
					<key>ts</key>
					<integer>32</integer>
					<key>te</key>
					<integer>38</integer>
					<key>s</key>
					<integer>2540</integer>
					<key>e</key>
					<integer>3150</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>at</string>
					<key>ts</key>
					<integer>40</integer>
					<key>te</key>
					<integer>41</integer>
					<key>s</key>
					<integer>3150</integer>
					<key>e</key>
					<integer>3320</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>the</string>
					<key>ts</key>
					<integer>43</integer>
					<key>te</key>
					<integer>45</integer>
					<key>s</key>
					<integer>3320</integer>
					<key>e</key>
					<integer>3530</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>beach.</string>
					<key>ts</key>
					<integer>47</integer>
					<key>te</key>
					<integer>52</integer>
					<key>s</key>
					<integer>3530</integer>
					<key>e</key>
					<integer>4080</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>audio/x/1d9f2d517ae9fa993c5a82e535316e4d.mp3</string>
			<key>start</key>
			<integer>0</integer>
			<key>sync</key>
			<array>
				<dict>
					<key>w</key>
					<string>They</string>
					<key>ts</key>
					<integer>0</integer>
					<key>te</key>
					<integer>3</integer>
					<key>s</key>
					<integer>0</integer>
					<key>e</key>
					<integer>240</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>played</string>
					<key>ts</key>
					<integer>5</integer>
					<key>te</key>
					<integer>10</integer>
					<key>s</key>
					<integer>240</integer>
					<key>e</key>
					<integer>690</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>by</string>
					<key>ts</key>
					<integer>12</integer>
					<key>te</key>
					<integer>13</integer>
					<key>s</key>
					<integer>690</integer>
					<key>e</key>
					<integer>890</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>the</string>
					<key>ts</key>
					<integer>15</integer>
					<key>te</key>
					<integer>17</integer>
					<key>s</key>
					<integer>890</integer>
					<key>e</key>
					<integer>1000</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>campfire</string>
					<key>ts</key>
					<integer>19</integer>
					<key>te</key>
					<integer>26</integer>
					<key>s</key>
					<integer>1000</integer>
					<key>e</key>
					<integer>1970</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>in</string>
					<key>ts</key>
					<integer>28</integer>
					<key>te</key>
					<integer>29</integer>
					<key>s</key>
					<integer>1970</integer>
					<key>e</key>
					<integer>2370</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>the</string>
					<key>ts</key>
					<integer>31</integer>
					<key>te</key>
					<integer>33</integer>
					<key>s</key>
					<integer>2370</integer>
					<key>e</key>
					<integer>2500</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>evening.</string>
					<key>ts</key>
					<integer>35</integer>
					<key>te</key>
					<integer>42</integer>
					<key>s</key>
					<integer>2500</integer>
					<key>e</key>
					<integer>3150</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>text2</key>
	<array>
		<dict>
			<key>text</key>
			<string>Lily and Charlie are best friends. They like playing pretend.</string>
			<key>boundingbox</key>
			<string>{{11,403}, {600,120}}</string>
			<key>start</key>
			<real>0</real>
			<key>end</key>
			<integer>0</integer>
			<key>fontsize</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>text</key>
			<string>&quot;What are we going to do today, Lily?&quot; asked Charlie.</string>
			<key>boundingbox</key>
			<string>{{411,113}, {500,111}}</string>
			<key>start</key>
			<integer>0</integer>
			<key>end</key>
			<integer>0</integer>
			<key>normal_color</key>
			<string>{{0,0},{0,0}}</string>
			<key>highlight_color</key>
			<string>{{255,0},{0,0}}</string>
			<key>fontsize</key>
			<integer>39</integer>
		</dict>
	</array>
	<key>audio2</key>
	<array>
		<dict>
			<key>path</key>
			<string>audio/v/3ea933e4bcfbe66964359cdfe3de2dcb.mp3</string>
			<key>start</key>
			<integer>0</integer>
			<key>sync</key>
			<array>
				<dict>
					<key>w</key>
					<string>Lily</string>
					<key>ts</key>
					<integer>0</integer>
					<key>te</key>
					<integer>3</integer>
					<key>s</key>
					<integer>0</integer>
					<key>e</key>
					<integer>720</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>and</string>
					<key>ts</key>
					<integer>5</integer>
					<key>te</key>
					<integer>7</integer>
					<key>s</key>
					<integer>720</integer>
					<key>e</key>
					<integer>1050</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>Charlie</string>
					<key>ts</key>
					<integer>9</integer>
					<key>te</key>
					<integer>15</integer>
					<key>s</key>
					<integer>1050</integer>
					<key>e</key>
					<integer>1830</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>are</string>
					<key>ts</key>
					<integer>17</integer>
					<key>te</key>
					<integer>19</integer>
					<key>s</key>
					<integer>1830</integer>
					<key>e</key>
					<integer>2140</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>best</string>
					<key>ts</key>
					<integer>21</integer>
					<key>te</key>
					<integer>24</integer>
					<key>s</key>
					<integer>2140</integer>
					<key>e</key>
					<integer>2650</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>friends.</string>
					<key>ts</key>
					<integer>26</integer>
					<key>te</key>
					<integer>33</integer>
					<key>s</key>
					<integer>2650</integer>
					<key>e</key>
					<integer>3750</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>They</string>
					<key>ts</key>
					<integer>35</integer>
					<key>te</key>
					<integer>38</integer>
					<key>s</key>
					<integer>3750</integer>
					<key>e</key>
					<integer>4080</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>like</string>
					<key>ts</key>
					<integer>40</integer>
					<key>te</key>
					<integer>43</integer>
					<key>s</key>
					<integer>4080</integer>
					<key>e</key>
					<integer>4590</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>playing</string>
					<key>ts</key>
					<integer>45</integer>
					<key>te</key>
					<integer>51</integer>
					<key>s</key>
					<integer>4590</integer>
					<key>e</key>
					<integer>5330</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>pretend.</string>
					<key>ts</key>
					<integer>53</integer>
					<key>te</key>
					<integer>66</integer>
					<key>s</key>
					<integer>5330</integer>
					<key>e</key>
					<real>7560</real>
				</dict>
				<dict>
					<key>w</key>
					<string>are</string>
					<key>ts</key>
					<integer>68</integer>
					<key>te</key>
					<integer>70</integer>
					<key>s</key>
					<integer>7560</integer>
					<key>e</key>
					<integer>7800</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>we</string>
					<key>ts</key>
					<integer>72</integer>
					<key>te</key>
					<integer>73</integer>
					<key>s</key>
					<integer>7800</integer>
					<key>e</key>
					<integer>8010</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>going</string>
					<key>ts</key>
					<integer>75</integer>
					<key>te</key>
					<integer>79</integer>
					<key>s</key>
					<integer>8010</integer>
					<key>e</key>
					<integer>8440</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>to</string>
					<key>ts</key>
					<integer>81</integer>
					<key>te</key>
					<integer>82</integer>
					<key>s</key>
					<integer>8440</integer>
					<key>e</key>
					<integer>8690</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>do</string>
					<key>ts</key>
					<integer>84</integer>
					<key>te</key>
					<integer>85</integer>
					<key>s</key>
					<integer>8690</integer>
					<key>e</key>
					<integer>9030</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>today,</string>
					<key>ts</key>
					<integer>87</integer>
					<key>te</key>
					<integer>92</integer>
					<key>s</key>
					<integer>9030</integer>
					<key>e</key>
					<integer>9690</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>Lily?&quot;</string>
					<key>ts</key>
					<integer>94</integer>
					<key>te</key>
					<integer>99</integer>
					<key>s</key>
					<integer>9690</integer>
					<key>e</key>
					<integer>10440</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>asked</string>
					<key>ts</key>
					<integer>101</integer>
					<key>te</key>
					<integer>105</integer>
					<key>s</key>
					<integer>10440</integer>
					<key>e</key>
					<integer>11090</integer>
				</dict>
				<dict>
					<key>w</key>
					<string>Charlie.</string>
					<key>ts</key>
					<integer>107</integer>
					<key>te</key>
					<integer>114</integer>
					<key>s</key>
					<integer>11090</integer>
					<key>e</key>
					<real>11710</real>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
