<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string></string>
		<key>option</key>
		<array>
			<dict>
				<key>tag</key>
				<integer>216</integer>
				<key>icon</key>
				<string>parent_account.png</string>
				<key>content</key>
				<string>User account</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>101</integer>
				<key>icon</key>
				<string>parent_icon_noti.png</string>
				<key>content</key>
				<string>Notifications</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Settings</string>
		<key>option</key>
		<array>
			<dict>
				<key>tag</key>
				<integer>201</integer>
				<key>icon</key>
				<string>parent_icon_languages.png</string>
				<key>content</key>
				<string>Display language</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>204</integer>
				<key>icon</key>
				<string>parent_icon_deletecache.png</string>
				<key>content</key>
				<string>Delete cache</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>202</integer>
				<key>icon</key>
				<string>parent_icon_licensekey.png</string>
				<key>content</key>
				<string>License key</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>206</integer>
				<key>icon</key>
				<string>parent_icon_bgmusic.png</string>
				<key>content</key>
				<string>Background Music</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>999</integer>
				<key>icon</key>
				<string>parent_icon_bug.png</string>
				<key>content</key>
				<string>Debug</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>About</string>
		<key>option</key>
		<array>
			<dict>
				<key>tag</key>
				<integer>301</integer>
				<key>icon</key>
				<string>parent_icon_readinglevels.png</string>
				<key>content</key>
				<string>Reading levels</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>302</integer>
				<key>icon</key>
				<string>parent_icon_support.png</string>
				<key>content</key>
				<string>Support</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>304</integer>
				<key>icon</key>
				<string>parent_icon_privacy.png</string>
				<key>content</key>
				<string>Privacy Policy</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>303</integer>
				<key>icon</key>
				<string>parent_icon_tos.png</string>
				<key>content</key>
				<string>Terms of Service</string>
			</dict>
			<dict>
				<key>tag</key>
				<integer>333</integer>
				<key>icon</key>
				<string>deleteaccount.png</string>
				<key>content</key>
				<string>Delete account</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
