<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text_info</key>
	<array>
		<dict>
			<key>text</key>
			<string>testing</string>
			<key>img_path</key>
			<string>keyword-img/p/7f4be3cbf8b4c3e2babd9c7b21be8a75.png</string>
		</dict>
		<dict>
			<key>text</key>
			<string>plane</string>
		</dict>
		<dict>
			<key>text</key>
			<string>test</string>
		</dict>
	</array>
	<key>game</key>
	<dict>
		<key>level_story</key>
		<integer>3</integer>
		<key>id</key>
		<integer>11</integer>
		<key>id_story</key>
		<integer>110</integer>
		<key>title</key>
		<string>Word Machine</string>
		<key>intro</key>
		<string>giới thiệu 1</string>
		<key>audio_intro</key>
		<string></string>
		<key>audio_title</key>
		<string></string>
	</dict>
	<key>question</key>
	<array>
		<dict>
			<key>audio_ans_wm</key>
			<string>sounds/milo_has_two_sandwiches.mp3</string>
			<key>text</key>
			<string>Milo has two##.</string>
			<key>audio</key>
			<dict>
				<key>path</key>
				<string>game-audio/3/b1c08083fa32f2c5edea45a8673fecae.mp3</string>
				<key>sync_text</key>
				<string></string>
				<key>tag_aegisub</key>
				<string></string>
				<key>title</key>
				<string>chick</string>
			</dict>
			<key>answer</key>
			<array>
				<dict>
					<key>text</key>
					<string>apples</string>
					<key>order</key>
					<string>3</string>
					<key>audio</key>
					<dict/>
				</dict>
				<dict>
					<key>text</key>
					<string>pizzas</string>
					<key>order</key>
					<integer>1</integer>
					<key>audio</key>
					<dict>
						<key>path</key>
						<string></string>
						<key>sync_text</key>
						<string></string>
						<key>tag_aegisub</key>
						<string></string>
						<key>title</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>text</key>
					<string>sandwiches</string>
					<key>order</key>
					<integer>2</integer>
					<key>audio</key>
					<dict>
						<key>path</key>
						<string></string>
						<key>sync_text</key>
						<string></string>
						<key>tag_aegisub</key>
						<string></string>
						<key>title</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>image_ans_wm</key>
			<string>keyword-img/8/4e65ff3469e78765d8f69bd780ea0b47.jpg</string>
			<key>right_ans</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>sentence</key>
	<array>
		<dict>
			<key>text</key>
			<array>
				<string>i&apos;m,</string>
				<string>fucking</string>
				<string>testing,</string>
				<string>this</string>
				<string>text.!</string>
			</array>
			<key>audio_nature</key>
			<dict>
				<key>path</key>
				<string>game-audio/g/358b964773330f394b7d0d73a72ce626.mp3</string>
				<key>title</key>
				<string>chick</string>
				<key>sync_data</key>
				<dict/>
				<key>aegisub</key>
				<string></string>
			</dict>
			<key>audio_slow</key>
			<dict>
				<key>path</key>
				<string>game-audio/e/67f5a0d2c012497972d762b2864f9725.mp3</string>
				<key>title</key>
				<string>What is it?</string>
				<key>sync_data</key>
				<array>
					<dict>
						<key>w</key>
						<string>What</string>
						<key>ts</key>
						<integer>0</integer>
						<key>te</key>
						<integer>3</integer>
						<key>s</key>
						<integer>0</integer>
						<key>e</key>
						<integer>280</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>is</string>
						<key>ts</key>
						<integer>5</integer>
						<key>te</key>
						<integer>6</integer>
						<key>s</key>
						<integer>280</integer>
						<key>e</key>
						<integer>590</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>it?</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<integer>590</integer>
						<key>e</key>
						<integer>1030</integer>
					</dict>
				</array>
				<key>aegisub</key>
				<string>{\k28}What {\k31}is {\k44}it? {\k0}</string>
			</dict>
			<key>image</key>
			<string>game-images/h/ce2a1b4fe97147b7c3a93fe2746ad78e.jpg</string>
			<key>category</key>
			<integer>2</integer>
			<key>sentence</key>
			<string>i&apos;m, fucking testing, this text.!</string>
			<key>jump_down</key>
			<array>
				<string>i&apos;m,</string>
				<string>testing,</string>
				<string>text.!</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
