<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>game</key><dict><key>id</key><integer>1</integer><key>title</key><string>Tên game1</string><key>intro</key><string>giới thiệu 1</string><key>text_info</key><dict><key>1</key><dict><key>text</key><string>testing</string><key>audio_path</key><string>game-audio/a/123.mp3</string><key>img_path</key><string>keyword-img/p/7f4be3cbf8b4c3e2babd9c7b21be8a75.png</string></dict><key>2</key><dict><key>text</key><string>plane</string></dict><key>3</key><dict><key>text</key><string>test</string></dict></dict><key>audio_intro</key><string>game-audio/f/1726fb93b17af1f46f1b4ca7096aba22.mp3</string><key>audio_title</key><string>game-audio/f/0e457dd4ce96f197dc0f319889a72f5f.mp3</string></dict></dict></plist>
