<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text_info</key>
	<array>
		<dict>
			<key>text</key>
			<string>testing</string>
			<key>img_path</key>
			<string>keyword-img/p/7f4be3cbf8b4c3e2babd9c7b21be8a75.png</string>
		</dict>
		<dict>
			<key>text</key>
			<string>plane</string>
		</dict>
		<dict>
			<key>text</key>
			<string>test</string>
		</dict>
	</array>
	<key>game</key>
	<dict>
		<key>level_story</key>
		<integer>0</integer>
		<key>id</key>
		<integer>14</integer>
		<key>id_story</key>
		<integer>110</integer>
		<key>title</key>
		<string>Build Sentence</string>
		<key>intro</key>
		<string>giới thiệu 1</string>
		<key>audio_intro</key>
		<string>game-audio/f/1726fb93b17af1f46f1b4ca7096aba22.mp3</string>
		<key>audio_title</key>
		<string>game-audio/f/0e457dd4ce96f197dc0f319889a72f5f.mp3</string>
	</dict>
	<key>question</key>
	<array>
		<dict>
			<key>audio_ans_wm</key>
			<string></string>
			<key>text</key>
			<string>Milo has two##.</string>
			<key>audio</key>
			<dict>
				<key>path</key>
				<string>game-audio/3/b1c08083fa32f2c5edea45a8673fecae.mp3</string>
				<key>sync_text</key>
				<string></string>
				<key>tag_aegisub</key>
				<string></string>
				<key>title</key>
				<string>chick</string>
			</dict>
			<key>answer</key>
			<array>
				<dict>
					<key>text</key>
					<string>apples</string>
					<key>order</key>
					<string>3</string>
					<key>audio</key>
					<dict/>
				</dict>
				<dict>
					<key>text</key>
					<string>pizzas</string>
					<key>order</key>
					<integer>1</integer>
					<key>audio</key>
					<dict>
						<key>path</key>
						<string></string>
						<key>sync_text</key>
						<string></string>
						<key>tag_aegisub</key>
						<string></string>
						<key>title</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>text</key>
					<string>sandwiches</string>
					<key>order</key>
					<integer>2</integer>
					<key>audio</key>
					<dict>
						<key>path</key>
						<string></string>
						<key>sync_text</key>
						<string></string>
						<key>tag_aegisub</key>
						<string></string>
						<key>title</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>image_ans_wm</key>
			<string>keyword-img/8/4e65ff3469e78765d8f69bd780ea0b47.jpg</string>
			<key>right_ans</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>sentence</key>
	<array>
		<dict>
			<key>text</key>
			<array>
				<string>I</string>
				<string>can</string>
				<string>hear</string>
				<string>with</string>
				<string>my</string>
				<string>ears.</string>
			</array>
			<key>audio_nature</key>
			<dict>
				<key>path</key>
				<string>sounds/i_can_hear_with_my_ears.mp3</string>
				<key>title</key>
				<string></string>
				<key>sync_data</key>
				<dict/>
				<key>aegisub</key>
				<string></string>
			</dict>
			<key>audio_slow</key>
			<dict>
				<key>path</key>
				<string>sounds/i_can_hear_with_my_ears.mp3</string>
				<key>title</key>
				<string></string>
				<key>sync_data</key>
				<array>
					<dict>
						<key>w</key>
						<string>I</string>
						<key>ts</key>
						<integer>0</integer>
						<key>te</key>
						<integer>3</integer>
						<key>s</key>
						<integer>0</integer>
						<key>e</key>
						<integer>250</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>can</string>
						<key>ts</key>
						<integer>5</integer>
						<key>te</key>
						<integer>6</integer>
						<key>s</key>
						<integer>260</integer>
						<key>e</key>
						<integer>500</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>hear</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<integer>590</integer>
						<key>e</key>
						<integer>1030</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>with</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<integer>1045</integer>
						<key>e</key>
						<integer>1555</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>my</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<real>1555</real>
						<key>e</key>
						<integer>1777</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>ears.</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<integer>1777</integer>
						<key>e</key>
						<integer>2400</integer>
					</dict>
				</array>
				<key>aegisub</key>
				<string>{\k28}What {\k31}is {\k44}it? {\k0}</string>
			</dict>
			<key>image</key>
			<string>games/sample/12.png</string>
			<key>category</key>
			<integer>1</integer>
			<key>sentence</key>
			<string>I can hear with my ears.</string>
			<key>jump_down</key>
			<array>
				<string>I</string>
				<string>hear</string>
				<string>ears.</string>
			</array>
		</dict>
		<dict>
			<key>text</key>
			<array>
				<string>I</string>
				<string>can</string>
				<string>hear</string>
				<string>with</string>
				<string>my</string>
				<string>ears.</string>
			</array>
			<key>audio_nature</key>
			<dict>
				<key>path</key>
				<string>sounds/i_can_hear_with_my_ears.mp3</string>
				<key>title</key>
				<string></string>
				<key>sync_data</key>
				<dict/>
				<key>aegisub</key>
				<string></string>
			</dict>
			<key>audio_slow</key>
			<dict>
				<key>path</key>
				<string>sounds/i_can_hear_with_my_ears.mp3</string>
				<key>title</key>
				<string></string>
				<key>sync_data</key>
				<array>
					<dict>
						<key>w</key>
						<string>I</string>
						<key>ts</key>
						<integer>0</integer>
						<key>te</key>
						<integer>3</integer>
						<key>s</key>
						<integer>0</integer>
						<key>e</key>
						<integer>250</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>can</string>
						<key>ts</key>
						<integer>5</integer>
						<key>te</key>
						<integer>6</integer>
						<key>s</key>
						<integer>260</integer>
						<key>e</key>
						<integer>500</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>hear</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<integer>590</integer>
						<key>e</key>
						<integer>1030</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>with</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<integer>1045</integer>
						<key>e</key>
						<integer>1555</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>my</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<real>1555</real>
						<key>e</key>
						<integer>1777</integer>
					</dict>
					<dict>
						<key>w</key>
						<string>ears.</string>
						<key>ts</key>
						<integer>8</integer>
						<key>te</key>
						<integer>10</integer>
						<key>s</key>
						<integer>1777</integer>
						<key>e</key>
						<integer>2400</integer>
					</dict>
				</array>
				<key>aegisub</key>
				<string>{\k28}What {\k31}is {\k44}it? {\k0}</string>
			</dict>
			<key>image</key>
			<string>games/sample/12.png</string>
			<key>category</key>
			<integer>2</integer>
			<key>sentence</key>
			<string>I can hear with my ears.</string>
			<key>jump_down</key>
			<array>
				<string>I</string>
				<string>hear</string>
				<string>ears.</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
