/proj.android-studio/app/build/*
/proj.android-studio/app/obj/*
/proj.android-studio/app/MonkeyJunior.iml
/proj.android-studio/.idea/*
/proj.android-studio/app/libs/armeabi/libcocos2dcpp.so
/bin/*
/proj.win32/MJStories.opensdf
/cocos2d/cocos/2d/Debug.win32/*
/cocos2d/cocos/2d/Release.win32/*
/proj.win32/Debug.win32/*
/proj.win32/Release.win32/*
/proj.win32/MJStories.sdf
#!/proj.ios_mac
#/proj.ios_mac/*
#!proj.ios_mac/mac
/proj.ios_mac/DerivedData
/proj.ios_mac/DerivedData/*
.DS_Store
/libcocos2d iOS.a
/build_release/*
/proj.android-studio/app/libs/armeabi/libMyGame.so
*.apk
proj.android-studio/app/assets/*
/proj.ios_mac/MJStory.xcodeproj/project.xcworkspace/xcuserdata/hoisung.xcuserdatad/UserInterfaceState.xcuserstate
/cocos2d/cocos/platform/android/libcocos2dx/libcocos2dx.iml
*.udf
cocos2d/cocos/platform/android/java/libs/gps/build/*
/Design/cocosstudio/mjstory/.storystore_PList.Dir/InfoConfig.xml
/cocos2d/cocos/platform/android/java/libs/gps
/cocos2d/tools/simulator/libsimulator/proj.ios_mac/build
CMakeFiles/
stories_debug.dir/
/cocos2d/cocos/platform/android/libcocos2dx/build
*.xcuserdatad
/proj.android-studio/app/libs/armeabi/libsafejni.so
/proj.android-studio/app/libs/armeabi-v7a/libMyGame.so
/proj.android-studio/app/libs/x86/libMyGame.so
proj.android-studio/app/libs/
proj.win32/ipch/
*.opensdf
*.sdf
*.db
*.opendb
proj.win32/Debug/GAFPlayer.lib
proj.win32/Release/
cocos2d/external/recast/proj.win32/Release.win32/
cocos2d/external/recast/proj.win32/Debug.win32/
cocos2d/external/gaf/Library/Release/
cocos2d/external/gaf/Library/Debug/
cocos2d/external/Box2D/proj.win32/Release.win32/
cocos2d/external/Box2D/proj.win32/Debug.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Release.win32/libSpine.tlog/CL.write.1.tlog
cocos2d/cocos/editor-support/spine/proj.win32/Release.win32/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
/Design/cocosstudio/mjstory/mjstory/.storystore_PList.Dir/InfoConfig.xml
Design/cocosstudio/mjstory/mjstory/.storystore_PList.Dir/InfoConfig.xml
/proj.android-studio/app/release
/proj.ios_mac/.idea
*.tlog
cocos2d/external/gaf/Library/Debug/*
*.user
/proj.win32/Debug
/proj.win32/game.aps
/proj.win32/MonkeyStories.v11.suo
proj.win32/setup/Monkey Stories/Monkey Stories-cache/
/proj.ios_mac/MJStory.app.dSYM.zip
/proj.ios_mac/MJStory.ipa
/proj.win32/setup/Monkey Stories/Setup Files
/cocos2d/tools/bindings-generator
/cocos2d/tools/cocos2d-console
/cocos2d/tools/fbx-conv/win
/cocos2d/tools/jenkins-scripts
/cocos2d/tools/make-package
/cocos2d/tools/tojs
/cocos2d/tools/tolua
/cocos2d/tools/travis-scripts
/proj.android-studio/app/en
/proj.android-studio/app/vi
zlib/contrib/vstudio/vc12/x86/ZlibStatRelease
glew/Release
/proj.ios_mac/VMonkey.app.dSYM.zip
/proj.ios_mac/VMonkey.ipa
/proj.android-studio/app/MJStory.iml
proj.win32/setup/Monkey Stories/Prerequisites/*
zlib/contrib/*
*.log
*.obj
*.pdb
*.exe
proj.ios_mac/Pods/*
/proj.ios_mac/VN Stories.ipa
/proj.ios_mac/VN Stories.app.dSYM.zip
.vs
!/ms-build/
/ms-build/*
!/ms-build/setup

!/ms-release/
/ms-release/*
!/ms-release/setup

!/vmonkey-build/
/vmonkey-build/*
!/vmonkey-build/setup

!/vmonkey-release/
/vmonkey-release/*
!/vmonkey-release/setup
ms-release/setup/Monkey Stories (release)-cache/
proj\.win32/res/game\.ico
proj\.win32/game\.rc
proj.ios_mac/DerivedData/
/build-macos
/build-osx

/proj.android
/proj.android/*
proj.android/app
proj.android/app/*
proj.android-studio
proj.android-studio/*

!/stories_accounts_debug/
/stories_accounts_debug/*
/build_win_debug/*
/build_vmonkey/*
/build_vmonkey_release/*
/build_win_release/*
/setup_debug/*
/build_windows/*
/build-android/app/assets/*
/build-android/app/.cxx/*
/build-android/.idea/*
/build-android/iab/*
/build-android/iap/*
/build-android/library/*
/build/*
/build_windows_release/*
/build_windows/*
/build_window_debug/*
build_window_debug/ALL_BUILD.vcxproj
/build_window_release/*
/build_win/*

*.bak