<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>d297be6cadae8807f637564ac5ef9b2d</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Monkey Stories: Books &amp; games</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconDf</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>16.png</string>
					<string>20.png</string>
					<string>29.png</string>
					<string>32.png</string>
					<string>40.png</string>
					<string>50.png</string>
					<string>57.png</string>
					<string>58.png</string>
					<string>60.png</string>
					<string>64.png</string>
					<string>72.png</string>
					<string>76.png</string>
					<string>80.png</string>
					<string>87.png</string>
					<string>100.png</string>
					<string>114.png</string>
					<string>120.png</string>
					<string>128.png</string>
					<string>144.png</string>
					<string>152.png</string>
					<string>167.png</string>
					<string>180.png</string>
					<string>256.png</string>
					<string>512.png</string>
					<string>1024.png</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconDf</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>16.png</string>
					<string>20.png</string>
					<string>29.png</string>
					<string>32.png</string>
					<string>40.png</string>
					<string>50.png</string>
					<string>57.png</string>
					<string>58.png</string>
					<string>60.png</string>
					<string>64.png</string>
					<string>72.png</string>
					<string>76.png</string>
					<string>80.png</string>
					<string>87.png</string>
					<string>100.png</string>
					<string>114.png</string>
					<string>120.png</string>
					<string>128.png</string>
					<string>144.png</string>
					<string>152.png</string>
					<string>167.png</string>
					<string>180.png</string>
					<string>256.png</string>
					<string>512.png</string>
					<string>1024.png</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Monkey Stories</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.794463747839-djgu05j60avmrijq9vclhndkp4es83qh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.earlystart.stories.onepay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>esonepay</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb520137134992261</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.518533842801-htuivakbfj06u08rf3rlno2abqcll7id</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.earlystart.monkeyjunior.story</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ak520137134992261</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CleverTapAccountID</key>
	<string>W46-6KK-685Z</string>
	<key>CleverTapDisableIDFV</key>
	<true/>
	<key>CleverTapRegion</key>
	<string>sg1</string>
	<key>CleverTapToken</key>
	<string>336-640</string>
	<key>FacebookAppID</key>
	<string>520137134992261</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookDisplayName</key>
	<string>Monkey Stories</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>monkeyltr</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>$(PRODUCT_NAME) bluetooth use.</string>
	<key>NSCameraUsageDescription</key>
	<string>Monkey Stories needs access to your device&apos;s camera to scan the QR code. </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) location use.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) location use.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The audio recorded by this app is stored securely and is not shared.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Monkey Stories needs access to your Photo Library.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition will be used to determine which words you speak into this device&apos;s microphone.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Montserrat-Black.ttf</string>
		<string>fonts/Montserrat-BlackItalic.ttf</string>
		<string>fonts/Montserrat-Bold.ttf</string>
		<string>fonts/Montserrat-BoldItalic.ttf</string>
		<string>fonts/Montserrat-ExtraBold.ttf</string>
		<string>fonts/Montserrat-ExtraBoldItalic.ttf</string>
		<string>fonts/Montserrat-ExtraLight.ttf</string>
		<string>fonts/Montserrat-ExtraLightItalic.ttf</string>
		<string>fonts/Montserrat-Italic.ttf</string>
		<string>fonts/Montserrat-Light.ttf</string>
		<string>fonts/Montserrat-LightItalic.ttf</string>
		<string>fonts/Montserrat-Medium.ttf</string>
		<string>fonts/Montserrat-MediumItalic.ttf</string>
		<string>fonts/Montserrat-Regular.ttf</string>
		<string>fonts/Montserrat-SemiBold.ttf</string>
		<string>fonts/Montserrat-SemiBoldItalic.ttf</string>
		<string>fonts/Montserrat-Thin.ttf</string>
		<string>fonts/Montserrat-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
