<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tap_0000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,100},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,200},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,300},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,400},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,100},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,200},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,300},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,400},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,100},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,100},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,100},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,200},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,300},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>tap_0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,400},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>tap.png</string>
		<key>realTextureFileName</key>
		<string>tap.png</string>
		<key>size</key>
		<string>{512,512}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>
