<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>me</key>
	<array>
		<string>i</string>
	</array>
	<key>test</key>
	<string>[{&quot;w&quot;:&quot;This&quot;,&quot;ts&quot;:0,&quot;te&quot;:3,&quot;s&quot;:0,&quot;e&quot;:410},{&quot;w&quot;:&quot;is&quot;,&quot;ts&quot;:5,&quot;te&quot;:6,&quot;s&quot;:410,&quot;e&quot;:650},{&quot;w&quot;:&quot;a&quot;,&quot;ts&quot;:8,&quot;te&quot;:8,&quot;s&quot;:650,&quot;e&quot;:860},{&quot;w&quot;:&quot;very&quot;,&quot;ts&quot;:10,&quot;te&quot;:13,&quot;s&quot;:860,&quot;e&quot;:1400},{&quot;w&quot;:&quot;old&quot;,&quot;ts&quot;:15,&quot;te&quot;:17,&quot;s&quot;:1400,&quot;e&quot;:1820},{&quot;w&quot;:&quot;fashioned&quot;,&quot;ts&quot;:19,&quot;te&quot;:27,&quot;s&quot;:1820,&quot;e&quot;:2350},{&quot;w&quot;:&quot;television&quot;,&quot;ts&quot;:29,&quot;te&quot;:38,&quot;s&quot;:2350,&quot;e&quot;:3160}]</string>
</dict>
</plist>
