<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>e</key>
		<integer>410</integer>
		<key>s</key>
		<integer>0</integer>
		<key>te</key>
		<integer>3</integer>
		<key>ts</key>
		<integer>0</integer>
		<key>w</key>
		<string>This</string>
	</dict>
	<dict>
		<key>e</key>
		<integer>650</integer>
		<key>s</key>
		<integer>410</integer>
		<key>te</key>
		<integer>6</integer>
		<key>ts</key>
		<integer>5</integer>
		<key>w</key>
		<string>is</string>
	</dict>
	<dict>
		<key>e</key>
		<integer>860</integer>
		<key>s</key>
		<integer>650</integer>
		<key>te</key>
		<integer>8</integer>
		<key>ts</key>
		<integer>8</integer>
		<key>w</key>
		<string>a</string>
	</dict>
	<dict>
		<key>e</key>
		<integer>1400</integer>
		<key>s</key>
		<integer>860</integer>
		<key>te</key>
		<integer>13</integer>
		<key>ts</key>
		<integer>10</integer>
		<key>w</key>
		<string>very</string>
	</dict>
	<dict>
		<key>e</key>
		<integer>1820</integer>
		<key>s</key>
		<integer>1400</integer>
		<key>te</key>
		<integer>17</integer>
		<key>ts</key>
		<integer>15</integer>
		<key>w</key>
		<string>old</string>
	</dict>
	<dict>
		<key>e</key>
		<integer>2350</integer>
		<key>s</key>
		<integer>1820</integer>
		<key>te</key>
		<integer>27</integer>
		<key>ts</key>
		<integer>19</integer>
		<key>w</key>
		<string>fashioned</string>
	</dict>
	<dict>
		<key>e</key>
		<integer>3160</integer>
		<key>s</key>
		<integer>2350</integer>
		<key>te</key>
		<integer>38</integer>
		<key>ts</key>
		<integer>29</integer>
		<key>w</key>
		<string>television</string>
	</dict>
</array>
</plist>
