<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>903853614382-75v195ujlvnlejftheujuohbqt1prabl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903853614382-75v195ujlvnlejftheujuohbqt1prabl</string>
	<key>API_KEY</key>
	<string>AIzaSyCAg0RPPiHxtSBUGkjsnTkvquETtmZ0OJo</string>
	<key>GCM_SENDER_ID</key>
	<string>903853614382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earlystart.monkeyjunior.story.vn</string>
	<key>PROJECT_ID</key>
	<string>storiesvn-205210</string>
	<key>STORAGE_BUCKET</key>
	<string>storiesvn-205210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903853614382:ios:93a2a289f5ae71e7</string>
	<key>DATABASE_URL</key>
	<string>https://storiesvn-205210.firebaseio.com</string>
</dict>
</plist>